<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>添加</title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="__STATIC__/amazeui/i/favicon.png">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="__STATIC__/amazeui/i/app-icon72x72@2x.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="faryao.cn"/>
  <link rel="apple-touch-icon-precomposed" href="__STATIC__/amazeui/i/app-icon72x72@2x.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="__STATIC__/amazeui/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <!-- Amaze UI CSS -->
  <link rel="stylesheet" href="__STATIC__/amazeui/css/amazeui.min.css">
  <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
  <link rel="stylesheet" href="__STATIC__/amazeui/css/admin.css">


</head>
<body>
<div class="am-margin-left-sm am-margin-right-sm am-margin-top-sm">
<form action="action" method="POST" role="form" class="am-form layui-form">
  
  <div class="layui-input-block am-margin-left-0">
    <label class="">用户组：{$gid.group_id}</label>
    <select name="usergroup" lay-verify="required" {gt name="$Think.session.ht_user.gid" value="2"}disabled{/gt}>
      <option value="" >请选择组</option>
      {volist name="list" id="vo"}
      <option value="{$vo.id_auth_group}" {eq name="vo.id_auth_group" value="$gid.group_id"}selected{/eq}>{$vo.auth_group_title}</option>
      {/volist}
    </select>
  </div>
  <div class="am-form-group">
    <label for="">用户名：</label>
    <input type="text" id="" name="username"  value="{$info.admin_user}" readonly lay-verify="required"  class="layui-input" placeholder="登录用户">
  </div>
  <div class="am-form-group">
    <label for="">姓名：</label>
    <input type="text" id="" name="nickname" value="{$info.admin_nickname}" lay-verify="required" class="layui-input" placeholder="真实姓名">
  </div>
  <div class="am-form-group">
    <label for="">密码：</label>
    <input type="password" id="" name="password"  class="layui-input" placeholder="为空为原密码">
  </div>
   <div class="am-form-group">
    <label for="">状态：</label>
    <input type="checkbox" name="status" class="layui-input" value="1" {eq name="info.admin_status" value="1"}checked{/eq} lay-skin="switch" lay-text="ON|OFF">
  </div>
  <div class="am-form-group">
    <label for="">关闭原因：</label>
    <input type="text" id="" name="remaker" value="{$info.admin_remark}"  class="layui-input" placeholder="">
  </div>
  <input type="hidden" name="id" value="{$info.id_admin}">
  <button type="submit" class="am-btn am-btn-primary am-btn-default am-submit"  lay-submit lay-filter="module">更新</button>

</form>
</div>
<!--[if lt IE 9]>
<script src="//libs.useso.com/js/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/js/polyfill/rem.min.js"></script>
<script src="//libs.useso.com/js/respond.js/1.4.2/respond.min.js"></script>
<script src="//cdn.amazeui.org/amazeui/2.1.0/js/amazeui.legacy.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__STATIC__/amazeui/js/jquery.min.js"></script>
<script src="__STATIC__/amazeui/js/amazeui.min.js"></script>
<!--<![endif]-->
<script src="__STATIC__/amazeui/js/common.js"></script>
<script src="__STATIC__/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
var form,layer;
layui.use(['form','layer'], function(){
    form = layui.form, layer = layui.layer;
    form.on('submit(module)', function(data){
   console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
  var indexs = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
  $.ajax({
   type: "POST",
   url: host+"/admin/role/userEdit",
   data: data.field,
   success: function(obj){
     if(obj.error==0){
      layer.alert(obj.msg, function(index){
       parent.layer.close(indexs); //再执行关闭   
       parent.location.reload();
       }); 
     }else{
      layer.alert(obj.msg); 
     }
   }
  }); 
  return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
  });
})
</script>
</body>
</html>